.runCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

td {
    text-align: center;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

table {
    border-collapse: collapse;
}

table, th {
    border: 1px solid black;
}